//mobile phone screen rules

@media screen 
	and (max-device-width: 750px)
	{

	.App{
		max-width: 100vw!important;
	}

	.logotext{
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		text-align: center;
		font-size: 2rem!important;
	}

	.buttoncustom{
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-size: 14px!important;
	}

	.subtitle{
		font-size: 1.5rem!important;
		margin-top: 1rem!important;
		margin-bottom: 1rem!important;
	}

	//header and displayjumbotron
	.Header{
		.headercontent{
			display: none!important;
		}
	}

	.DisplayJumbotron{
		max-height: 300px!important;

		.jumbolinetext{
			display: none;
		}
	}

	//home page
	.mainbody{

		.paragraph1{
			font-size: 1rem!important;
			padding-left: 1rem!important;
			padding-right: 1rem!important;
		}

		.notescontainer{
			display: flex!important;
			flex-direction: column!important;
			align-items: center;
			justify-content: center!important;
			padding: 0!important;
			margin: 0!important;
			max-width: 100vw!important;

			.image2{	
				width: 300px;

				&:hover{
					transform: none;
				}
			}

			.notes{
				width: 300px;
			}
		}

		.testimonies{
			margin-left: -0.5rem!important;

			.carousel-indicator{
				display: none!important;
			}

			.carousel-control-prev{
				display: none!important;
			}

			.sr-only{
				display: none!important;
			}

			.carousel-control-next{
				display: none!important;
			}

			.carousel-inner{
				margin-left: 0!important;
			}

			.card{ 
				width: 78vw!important;
				min-height: 25vh!important;
			}

			.card-text{
				width: 78vw!important;
				font-size: 15px!important;
			}
		}

		.rooms{
			.roomcontainer{
				display: flex!important;
				flex-direction: column!important;
			}

			.slider{
				width: 85vw!important;
			}

			.paragraph2{
				padding-top: 2rem!important;
				width: 85vw!important;
				font-size: 1rem!important;
			}
		}

		.tourism{
			display: flex!important;
			flex-direction: column!important;
			margin-top: 1rem!important;

			.TourismSlider{
				margin-top: 0!important;

				.row1{
					display: flex!important;
					flex-direction: column!important;
					justify-content: flex-start!important;
					padding: 0!important;
					margin: 0!important;
				}

				.row2{
					display: flex!important;
					flex-direction: column!important;
					justify-content: flex-start!important;
					padding: 0!important;
					margin: 0!important;
				}

				.row3{
					display: flex!important;
					flex-direction: column!important;
					justify-content: flex-start!important;
					padding: 0!important;
					margin: 0!important;
				}

				.imagetopleft{
					margin: 0!important;
					height: 20vh!important;
					width: 80vw!important;

					&:hover{
						transform: none!important;
					}
				}

				.imagetopright{
					margin: 0!important;
					height: 20vh!important;
					width: 80vw!important;

					&:hover{
						transform: none!important;
					}
				}

				.imageleft{
					margin: 0!important;
					padding: 0!important;
					width: 80vw!important;

					&:hover{
						transform: none!important;
					}
				}

				.paragraph3{
					font-size: 1rem!important;
					margin: 0 0 0 0.75rem!important;
					padding: 1rem 0.5rem 0.5rem 0.5rem!important;
					width: 80vw!important;
				}

				.responsiveparagraph3{
					text-align: justify!important;
				}

				.responsivebutton{
					text-align: center!important;
				}

				.imagebottomleft{
					margin: 0!important;
					padding: 0!important;
					width: 80vw!important;

					&:hover{
						transform: none!important;
					}
				}

				.imagebottomcenter{
					margin: 0!important;
					padding: 0!important;
					width: 80vw!important;

					&:hover{
						transform: none!important;
					}
				}

				.imagebottomright{
					margin: 0!important;
					padding: 0!important;
					width: 80vw!important;

					&:hover{
						transform: none!important;
					}
				}
			}
		}
	}

	//booking page
	.Booking{
		.cardbooking{
			margin-top: 1.5rem;
			margin-left: 1.5rem;
		}
		.calendar{
			width: 90vw!important;
			height: 45vh!important;
		}
	}

	//contacts page
	.Contacts{
		.responsiveprofile{
			margin-left: 0.5rem;
			justify-content: center!important;
		}

		.profiletitle{
			text-align: center;
		}

		.responsivetext{
			text-align: right;
		}

		.responsivetag{
			margin-left: 1rem;
			justify-content: flex-start!important;
		}

		.responsiveend{
			margin-bottom: 3rem;
		}
	}


	//footer
	.Footer{
		font-size: 1rem;

		.footerlogo{
			font-size: 2rem!important;
		}

		.middlecolfooter{
			border-left: none!important;
			border-right: none!important;
		}

		.columnfooter{
			margin-bottom: 2rem!important;
		}

		.responsivefooter{
			margin-top: 2rem!important;
		}

		.responsivehidden{
			display: none!important;
		}

		.responsivedisplayed{
			display: initial!important;
		}

		.responsivetitle{
			font-size: 1.5rem!important;
		}

		.responsivemail{
			font-size: 1.2rem!important;
		}

		.responsivephone{
			font-size: 1.2rem!important;
		}
	}
}