@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

.logotext{
    font-family: "Caveat";
    font-size: 60px;
    color: rgba(37, 5, 5, 0.986);
}